<div class="login-container">
  <div class="login-left-section">
    <div class="intro-content">
      <h1>Thầy Long - WEB2081</h1>
      <p>Một chữ cũng là Thầy - Nữa chữ cũng là Thầy</p>
      <a href="https://longnv.name.vn/" class="btn-read-more">Đọc Thêm</a>
      <div class="wave-decoration"></div>
    </div>
  </div>
  
  <div class="login-right-section">
    <div class="login-form">
      <h2>Đăng Nhập</h2>
      <p class="welcome-text">Xin Chào</p>
      
      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-with-icon">
            <span class="input-icon">
              <i class="email-icon"></i>
            </span>
            <input 
              type="text" 
              id="username" 
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
              placeholder="ID/Mail Đăng Nhập"
            />
          </div>
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">{{ 'usernameRequired' | translate }}</div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="input-with-icon">
            <span class="input-icon">
              <i class="password-icon"></i>
            </span>
            <input 
              type="password" 
              id="password" 
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              placeholder="Mật Khẩu"
            />
          </div>
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">{{ 'passwordRequired' | translate }}</div>
          </div>
        </div>
        
        <div class="form-group">
          <button [disabled]="loading" class="btn-login">
            <span *ngIf="loading" class="spinner"></span>
            Đăng Nhập
          </button>
        </div>

        <!-- <div class="forgot-password">
          <a href="#">Forgot Password</a>
        </div> -->
      </form>
    </div>
  </div>
</div> 