<!-- Customers Content -->
<div class="dashboard__content">
  <!-- Loading Overlay -->
  <div class="customers__loading-overlay" *ngIf="isLoading">
    <div class="customers__loading-spinner">
      <i class="fa fa-spinner fa-spin"></i>
      <span>{{ 'loading' | translate }}...</span>
    </div>
  </div>

  <div class="customers__header">
    <div class="customers__title-wrapper">
      <h1 class="customers__title">{{ 'customers' | translate }} {{ 'management' | translate }}</h1>
      <p class="customers__subtitle">{{ 'manageCustomersDescription' | translate }}</p>
    </div>
    <button class="customers__btn customers__btn--primary" (click)="openAddModal()">
      <i class="fa fa-plus"></i> {{ 'add' | translate }} {{ 'new' | translate }} {{ 'customer' | translate }}
    </button>
  </div>

  <div class="customers__search-bar">
    <div class="customers__search">
      <input 
        type="text" 
        class="customers__search-input" 
        placeholder="{{ 'searchCustomers' | translate }}..." 
        [(ngModel)]="searchQuery"
        (input)="searchCustomers()">
      <button class="customers__search-btn">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="customers__table-wrapper">
    <table class="customers__table">
      <thead class="customers__table-head">
        <tr>
          <th class="customers__table-heading">{{ 'id' | translate }}</th>
          <th class="customers__table-heading">{{ 'fullName' | translate }}</th>
          <th class="customers__table-heading">{{ 'username' | translate }}</th>
          <th class="customers__table-heading">{{ 'email' | translate }}</th>
          <th class="customers__table-heading">{{ 'phone' | translate }}</th>
          <th class="customers__table-heading">{{ 'gender' | translate }}</th>
          <th class="customers__table-heading">{{ 'dateOfBirth' | translate }}</th>
          <th class="customers__table-heading">{{ 'actions' | translate }}</th>
        </tr>
      </thead>
      <tbody class="customers__table-body">
        <tr *ngFor="let customer of filteredCustomers" class="customers__table-row">
          <td class="customers__table-cell">{{ customer.id }}</td>
          <td class="customers__table-cell customers__table-cell--name">{{ customer.full_name }}</td>
          <td class="customers__table-cell">{{ customer.username }}</td>
          <td class="customers__table-cell">{{ customer.email }}</td>
          <td class="customers__table-cell">{{ customer.phone_number }}</td>
          <td class="customers__table-cell">{{ customer.gender || '-' }}</td>
          <td class="customers__table-cell">{{ formatDate(customer.date_of_birth) }}</td>
          <td class="customers__table-cell customers__table-cell--actions">
            <button class="customers__action-btn customers__action-btn--edit" (click)="openEditModal(customer)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="customers__action-btn customers__action-btn--delete" (click)="deleteCustomer(customer.id ?? 0)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredCustomers.length === 0" class="customers__table-row">
          <td class="customers__table-cell" colspan="8" style="text-align: center;">
            {{ 'noCustomersFound' | translate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Customer Form Modal -->
  <div class="customers__form-container" *ngIf="isFormVisible" (click)="resetForm()">
    <div class="customers__form" (click)="$event.stopPropagation()">
      <h2 class="customers__form-title">{{ isEditMode ? ('edit' | translate) + ' ' + ('customer' | translate) : ('add' | translate) + ' ' + ('new' | translate) + ' ' + ('customer' | translate) }}</h2>
      
      <div class="customers__form-row">
        <div class="customers__form-group customers__form-group--half">
          <label class="customers__form-label">{{ 'fullName' | translate }} *</label>
          <input type="text" class="customers__form-input" [(ngModel)]="customerForm.full_name" required>
        </div>
        
        <div class="customers__form-group customers__form-group--half">
          <label class="customers__form-label">{{ 'username' | translate }} *</label>
          <input type="text" class="customers__form-input" [(ngModel)]="customerForm.username" required>
        </div>
      </div>
      
      <div class="customers__form-row">
        <div class="customers__form-group customers__form-group--half">
          <label class="customers__form-label">{{ 'email' | translate }} *</label>
          <input type="email" class="customers__form-input" [(ngModel)]="customerForm.email" required>
        </div>
        
        <div class="customers__form-group customers__form-group--half">
          <label class="customers__form-label">{{ 'phone' | translate }} *</label>
          <input type="text" class="customers__form-input" [(ngModel)]="customerForm.phone_number" required>
        </div>
      </div>
      
      <div class="customers__form-group">
        <label class="customers__form-label">{{ 'password' | translate }} {{ isEditMode ? '' : '*' }}</label>
        <input type="password" class="customers__form-input" [(ngModel)]="customerForm.password" 
               [required]="!isEditMode">
        <small class="customers__form-help" *ngIf="isEditMode">
          {{ 'leaveBlankPassword' | translate }}
        </small>
      </div>
      
      <div class="customers__form-row">
        <div class="customers__form-group customers__form-group--half">
          <label class="customers__form-label">{{ 'dateOfBirth' | translate }}</label>
          <input type="date" class="customers__form-input" [(ngModel)]="customerForm.date_of_birth">
        </div>
        
        <div class="customers__form-group customers__form-group--half">
          <label class="customers__form-label">{{ 'gender' | translate }}</label>
          <select class="customers__form-select" [(ngModel)]="customerForm.gender">
            <option value="">-- {{ 'selectGender' | translate }} --</option>
            <option value="Nam">{{ 'male' | translate }}</option>
            <option value="Nữ">{{ 'female' | translate }}</option>
            <option value="Khác">{{ 'other' | translate }}</option>
          </select>
        </div>
      </div>
      
      <div class="customers__form-group">
        <label class="customers__form-label">{{ 'address1' | translate }}</label>
        <input type="text" class="customers__form-input" [(ngModel)]="customerForm.address1">
      </div>
      
      <div class="customers__form-group">
        <label class="customers__form-label">{{ 'address2' | translate }}</label>
        <input type="text" class="customers__form-input" [(ngModel)]="customerForm.address2">
      </div>
      
      <div class="customers__form-actions">
        <button class="customers__btn customers__btn--secondary" (click)="resetForm()">{{ 'cancel' | translate }}</button>
        <button class="customers__btn customers__btn--primary" (click)="saveCustomer()">
          {{ isEditMode ? ('update' | translate) : ('save' | translate) }}
        </button>
      </div>
      
      <div class="customers__form-error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div> 